*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Noto Sans Tamil Supplement', sans-serif;
}
header{
    background-color: red;

    
}

ul{
    text-align: end;
    position: relative;
    z-index: 1;
   
   
    
}
/* NUMERI ELENCO */
li{
    display: inline;
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 14px;
    position: fixed;
}
.li-1, .li-2, .li-3{
    top: 50px;
}
.li-1{
    right: 150px;
    
}
.li-2{
    right: 90px;
}
.li-3{
    right: 30px;
}
a{
    text-decoration: none;
    color: black;
}

/* MAIN */
    /* SCARPE */
.scarpa{
    width: 100%;
    height: 100vh;
    position: relative;


}
#scarpa1{
    background-color: red;
   
    
}
#scarpa2{
    background-color: green;
}
#scarpa3{
    background-color: yellow;
}
    /* IMMAGINI */
.immagine-testo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testo1, .testo2{
    font-size: 55px;
    word-spacing: 50px;
    text-align: center;
}
.testo1{
    color: yellow;
}
.testo2{
    color: green;
}