*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;;
}
header{
    background-color: red;
    
}

li{
    display: inline;
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 4px 8px;
}
ul{
    text-align: end;
    padding: 20px;
}

/* MAIN */
.scarpa{
    width: 100%;
    height: 100vh;
    position: relative;


}
.scarpa1{
    background-color: red;
    
}
.scarpa2{
    background-color: green;
}
.scarpa3{
    background-color: yellow;
}
.immagine-testo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}